body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  
 
}

.App {
  text-align: center;

  /* position: fixed; */
  top: 0; /* Fixa no topo */
  right: 0; /* Fixa à direita */
 /* height: 100vh;  Altura da viewport */
  overflow-y: scroll;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;  
  display: inline-block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.urna {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
   max-width: 400px; 
  margin: 0 auto;
  background-color: #403A3A;
  padding: 20px 40px;
  line-height: .3;
}

.tela {
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.teclado {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  
}
.tecladoTela{
   width: 25px;
   text-align: center;
   font-size: 24px; 
   margin: "0 1px"; 
   
}
.tecladoNumerico {
  padding: 20px;
  font-size: 1.5em;
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 0px #555;
  background-color: #000;
  color: #FFF;
  
}
.digitar{
  box-shadow: 3px 3px 0px #555;
}

.corrige{
  font-size: .8em;
  text-transform: uppercase;
  background-color: #f09046;
  color: #000;
}
.branco{
  font-size: .8em;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;

}
.confirma{
  font-size: 0.7em;
  align-items: center;
  justify-content: center;
  background-color: #48c079;
  color: #000;

}
.header{
  font-size: 1.5em;
  text-align: center;
  text-align: center;
  padding: 20px;
  background-color: #1B305A;
  color: #fff;
  height: 100%;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
 
}
.footer{
  font-size: 0.1em;
  text-align: center;
  padding-top: 30px;
  color: #fff;
}
.msg{
   color: red; 
}
.candidato-imagem img {
  max-width: 90px;
  height: auto;
  margin-top: 5px;
}
.telaFim{
  padding-top: 60px;
  padding-bottom: 60px;

}
.animar{
  font-size: 3rem;
    /* color: #3498db; */
    animation: aumentarDiminuir 2s infinite;
}
@keyframes aumentarDiminuir {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.5); /* Aumenta 50% */
  }
}

@media (max-width: 480px) {
  .teclado button {
    padding: 15px;
    font-size: .8em;
    
  }
}

